<!DOCTYPE html>
<html lang="en">
<head>
	<%= javascript_include_tag 'jquery-1.11.1.min'%>
	<%= javascript_include_tag 'bootstrap.min'%>
	<%= javascript_include_tag 'jquery.backstretch.min'%>
</head>

<body>

<%= render 'form' %>


</body>
</html>
