<!DOCTYPE html>
<html>

<body>
	<a> Text directions </a>
	<%@strs.each do |str|%>
		<div align="left">
			<span class="glyphicon glyphicon-pushpin" style="color:red">
			</span>
			<%=str%>
		</div>
	<%end%>
</body>

</html>
